* {
    padding: 0;
    margin: 2px;
    border: 0;
    box-sizing: border-box;
    font-family: 'Calibri';
  }

input {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

button {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}